body{
    display: grid;
    
}

/* Api Positioning grid */
.parant {
    position: relative;
    left: 30em;
    display: grid;
    height: 200px;
    grid-template-columns:20em 20em 20em;
    margin-bottom: 25em ;
    
}
/* Api individual display  */
.child {
    display:inline-block;
    border: 3px solid black;
    width: 15em;  
    height: 22.2em;  
    padding: 1em 1em 1em 1em;
    margin: 0.10em 0.1em 1em 0.1em ;
    justify-content: center;
}
/* Api content */
.child img{
    margin-left: 4em;
    align-items: center;
}

/* buttons  */
footer{
    position: fixed;
    bottom: 0px;
    
    margin-left: 51em;
}
footer ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer ul li{
    border: 3px solid red;
    background-color: black;
    padding: 15px;
    margin: 4px;
    list-style:none ;
    text-align: center;
}

footer ul li button{
    color: white;
}
footer ul li:hover{
    color: red;
}